{% extends "base.html" %}
{% load dz_extras %}

{% block head %}
<style type="text/css">

.govorec { padding: 5px; font-size: 1.1em; font-weight: 500; width: 27%; float: left; clear: left;}
.receno { width: 60%; float: left; margin-bottom: 10px; text-align: justify;}
.govorec-slika { width: 100px; }
.zapis-link { float: right; position: relative; right: -30px; }
.zapis-link a { text-decoration: none; }
.zapis-link :hover { text-decoration: underline; }
h1, h2, h3 { padding: 5px; }
.zasedanja-list { padding-left: 20px; }

</style>
{% endblock %}


{% block content %}
		<div class="site">
				<ol class="cards">
					{% for poslanec in object_list %}
					{% if poslanec.funkcija_set.all %}
					<li>
						<div class="card">
							<h2> {{ poslanec.ime }} {{ poslanec.priimek }}</h2>
							<div class="stranka"><a class="strankatag {{ poslanec.poslanska_skupina.stranka.okrajsava|lower }}"
								style="background-color: #{{ poslanec.poslanska_skupina.stranka.barva }};"
								href="/stranke/{{ poslanec.poslanska_skupina.stranka.id }}/"
								title="{{ poslanec.poslanska_skupina.stranka.ime }}">{{ poslanec.poslanska_skupina.stranka.okrajsava }}
							</a></div>
							<div class="img">
								<img src="{{ poslanec.slika|default:"/static/img/unknown.png"}}" alt="" title="{{ poslanec.ime }}, vir:{% if poslanec.slika %}dz-rs.si{% else %}http://www.flickr.com/photos/marypaulose/295058238/sizes/z/in/photostream/{% endif %}" />
							</div>
							<dl>
								<dt>Obdobje</dt>
								<dd>{{ poslanec.poslanskih_dni }} dni</dd>
								<dt>Mandatov</dt>
								<dd>{{ poslanec.st_mandatov }}</dd>
							</dl>
							<ol class="badges">
								<li class="odbori"><span>?</span> odbor{{ poslanec.st_odborov|slopluralize:",a,i,ov" }}</li>
								<li class="komisije"><span>?</span> komisij{{ poslanec.komisije|slopluralize:"a,i,e," }}</li>
								<li class="delegacije"><span>?</span> deleg.</li>
								<li class="skupine"><span>?</span> skupin{{ poslanec.skupine|slopluralize:"a,i,e," }}</li>
							</ol>
						</div>
					</li>
					{% endif %}
					{% endfor %}
				</ol>
		</div>

{% endblock %}