{% extends "base.html" %}{% load dz_extras %}

{% block head %}
<style type="text/css">
.citirano { background-color: #ffffcc; }
</style>

{% endblock %}

{% block opengraph %}{% with zapis=zapisi|first %}
<meta property="og:title" content="{{ seja.naslov }} - citat od {{ zapis.govorec_oseba }}" />
<meta property="og:type" content="article" />    
<meta property="og:url" content="http://www.delajozate.si{{ request.path }}" />
{% if zapis.govorec_oseba.slika %}<meta property="og:image" content="http://www.delajozate.si{{ zapis.govorec_oseba.slika }}" />{% endif %}
<meta property="og:description" content="{{ zapis.odstavki|truncatewords:60 }}">
{% endwith %}{% endblock %}


{% block content %}
<div class="content">
<h1>{{ seja.naslov }}</h1>

<h2>Citat magnetograma</h2>
<section class="speech">
{% for zapis in zapisi %}
{% ifchanged zapis.govorec %}
<div class="speaker">
{% if zapis.govorec_oseba %}
    <span class="vcard">
    <a rel="author" href="/osebe/{{ zapis.govorec_oseba.slug }}/"><span class="fn"><span class="given-name">{{ zapis.govorec_oseba.ime }}</span> <span class="family-name">{{ zapis.govorec_oseba.priimek }}</span></span></a><br />
    {% with zasedanje.stranke|get_item:zapis.govorec_oseba.pk as clanstvo %}
    <em>{{ clanstvo.stranka|default_if_none:"?" }}</em>
    {% endwith %}
    <br />
    {% if zapis.govorec_oseba.slika %}
        <img class="speaker-img photo" src="{{ zapis.govorec_oseba.slika }}" />
    {% endif %}
    </span>

{% else %}
    {{ zapis.govorec|default_if_none:""|title }}
{% endif %}
</div>
{% endifchanged %}

<blockquote class="speaker-quote{% if zapis.seq == citirano %} citirano{% endif %}" id="p{{ zapis.seq }}">
    {{ zapis.odstavki|linebreaksbr }}
</blockquote>
{% endfor %}
</section>

    <p>
        <a href="{% url delajozate.magnetogrami.views.seja seja.mandat seja.delovno_telo seja.slug zasedanje.datum %}#p{{ citirano }}">Nazaj na magnetogram</a>
    </p>

</div>
{% endblock %}
