{% extends "base.html" %}{% load dz_extras %}

{% block head %}
<style type="text/css">
.citirano { background-color: #ffffcc; }
</style>

{% endblock %}

{% block opengraph %}{% with zapis=zapisi|first %}
<meta property="og:title" content="{{ seja.naslov }} - citat od {{ zapis.govorec_oseba }}" />
<meta property="og:type" content="article" />    
<meta property="og:url" content="http://www.delajozate.si{{ url_path }}" />
{% if zapis.govorec_oseba.slika %}<meta property="og:image" content="http://www.delajozate.si{{ zapis.govorec_oseba.slika }}" />{% endif %}
<meta property="og:description" content="{{ zapis.odstavki|truncatewords:60 }}">
{% endwith %}{% endblock %}


{% block content %}
<h1>{{ seja.naslov }}</h1>

<h2>Citat magnetograma</h2>
{% for zapis in zapisi %}
{% ifchanged zapis.govorec %}
<div class="break"></div>
<div class="govorec">
{% if zapis.govorec_oseba %}
    <span class="vcard">
    <a rel="author" href="/osebe/{{ zapis.govorec_oseba.slug }}/"><span class="fn"><span class="given-name">{{ zapis.govorec_oseba.ime }}</span> <span class="family-name">{{ zapis.govorec_oseba.priimek }}</span></span></a><br />
    {% with zapis.govorec_oseba.clanstvo|datum_filter:zapis.zasedanje.datum as clanstvo %}
    <em class="org">{{ clanstvo.0.stranka|default_if_none:"?" }}</em><br />
    {% endwith %}
    <em class="role" style="display:none;">Poslanec/ka</em>
    {% if zapis.govorec_oseba.slika %}
        <img class="govorec-slika photo" src="{{ zapis.govorec_oseba.slika }}" />
    {% endif %}
    </span>

{% else %}
    {{ zapis.govorec|default_if_none:"&nbsp;"|title }}
{% endif %}
</div>
{% endifchanged %}

<div class="receno{% if zapis.seq == citirano %} citirano{% endif %}" id="p{{ zapis.seq }}">
    <div class="zapis-link" >
        <a href="{% url delajozate.magnetogrami.views.citat mdt="dz" mandat=seja.mandat slug=seja.slug datum_zasedanja=zapis.zasedanje.datum odstavek=zapis.seq %}">#</a>
    </div>
    {{ zapis.odstavki|linebreaksbr }}
</div>
{% endfor %}

{% endblock %}