{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

function updateHighlight() {
    if (document.location.hash) {
        var div = document.querySelector(document.location.hash);
        div.style.backgroundColor = '#ffffcc';
    }
}

addLoadEvent(updateHighlight);
</script>
{% endblock %}


{% block content %}
<h1>{{ seja.naslov }}</h1>

<h3>Zasedanja</h3>
<div class="zasedanja-list">
<ul>
{% for z in seja.magnetogrami %}
    <li><a href="{% url delajozate.magnetogrami.views.seja seja.delovno_telo seja.mandat seja.slug z.datum %}">{{ z.datum }}</a> <a href="{{ z.url }}">(ogled izvirnega besedila na strani Državnega zbora)</a></li>
{% endfor %}
</ul>
</div>

<h2>Magnetogram</h2>
{% for zapis in zapisi %}
{% ifchanged zapis.govorec %}
<div class="break"></div>
<div class="govorec">
{% if zapis.govorec_oseba %}
    {{ zapis.govorec_oseba.ime }} {{ zapis.govorec_oseba.priimek }}
    <br />{% if zapis.govorec_oseba.slika %}<img class="govorec-slika" src="{{ zapis.govorec_oseba.slika }}" />{% endif %}
    {% comment %}
    {# XXX FIXME clan stranke se ni preverjen oz. pravilno v bazi, zato se veza ne prikaze #}
    <em>{{ zapis.clan_stranke.stranka }}</em>
    {% endcomment %}
{% else %}
    {{ zapis.govorec|default_if_none:"&nbsp;" }}
{% endif %}
</div>
{% endifchanged %}

<div class="receno" id="p{{ zapis.seq }}">
    <div class="zapis-link" >
        <a href="{% url magnetogrami_citat mdt="dz" mandat=seja.mandat slug=seja.slug datum_zasedanja=zapis.zasedanje.datum odstavek=zapis.seq %}">#</a>
    </div>
    {{ zapis.odstavki|linebreaksbr }}
</div>
{% endfor %}

{% endblock %}