{% extends "base.html" %}

{% block head %}
<style type="text/css">

.govorec { padding: 5px; font-size: 1.1em; font-weight: 500; width: 27%; float: left; clear: left;}
.receno { width: 60%; float: left; margin-bottom: 10px; text-align: justify;}
.govorec-slika { width: 100px; }
.zapis-link { float: right; position: relative; right: -30px; }
.zapis-link a { text-decoration: none; }
.zapis-link :hover { text-decoration: underline; }
h1, h2, h3 { padding: 5px; }
.zasedanja-list { padding-left: 20px; }

</style>
{% endblock %}


{% block content %}
<div class="content">
	<h1>{{ delovno_telo.ime }}</h1>

	{% if object_list %}
	{% for z in object_list %}
	{% ifchanged z.seja.mandat %}
	<h1>{{ z.seja.mandat }}. mandat</h1>
	{% endifchanged %}

	{% ifchanged z.seja %}
	{% if not forloop.first %}
	</ul>
	</div>
	{% endif %}
	<h2>{{ z.seja.naslov }}</h2>
	<h3>Zasedanja</h3>
	<div class="zasedanja-list">
	<ul>
	{% endifchanged %}

	<li>
		<a href="{% url delajozate.magnetogrami.views.seja z.seja.mandat z.seja.delovno_telo z.seja.slug z.datum %}">
			{{ z.datum }}
		</a>
	</li>

	{% ifchanged z.seja %}{% if forloop.last %}
	</ul>
	</div>
	{% endif %}{% endifchanged %}


	{% endfor %}
	{% else %}
	<p>To delovno telo nima (javno objavljenih) magnetogramov.</p>
	{% endif %}
</div>
{% endblock %}
