{% extends "base.html" %}{% load dz_extras %}

{% block head %}
<script type="text/javascript">
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

function updateHighlight() {
    if (document.location.hash) {
        var div = document.querySelector(document.location.hash);
        div.style.backgroundColor = '#ffffcc';
    }
}

addLoadEvent(updateHighlight);
</script>
{% endblock %}


{% block content %}
<div class="content">
    <h1>{{ seja.naslov }}</h1>

    <p><strong>Zasedanja:</strong></p>
    <ul>
    {% for z in seja.magnetogrami %}
        <li><a href="{% url delajozate.magnetogrami.views.seja seja.mandat seja.delovno_telo seja.slug z.datum %}">{{ z.datum }}</a></li>
        <li>
            <ul>
                <li><a href="{{ z.url }}">izvirno besedilo na strani Državnega zbora</a></li>
                {% for video in z.video_set.all %}
                <li><a href="{{ video.url }}">posnetek v arhivu RTV Slovenija</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    
    <h2 class="center">Vsebina</h2>
    <div role="log">
    {% for zapis in zapisi %}
        {% ifchanged zapis.govorec %}
        {% if forloop.first %}
    <section class="speech">
        {% else %}
        </blockquote>
    </section>
    <section class="speech{% cycle " odd-row" "" %}">
        {% endif %}
        <div class="speaker">
        {% if zapis.govorec_oseba %}
            <a rel="author" href="/osebe/{{ zapis.govorec_oseba.slug }}/">{{ zapis.govorec_oseba.ime}} {{ zapis.govorec_oseba.priimek}}</a>
            <br />
            {% with zasedanje.stranke|get_item:zapis.govorec_oseba.pk as clanstvo %}
            <em>{{ clanstvo.stranka|default_if_none:"?" }}</em>
            {% endwith %}
            <br />
            {% if zapis.govorec_oseba.slika %}<img class="speaker-img" src="{{ zapis.govorec_oseba.slika }}" />{% endif %}
        
        {% else %}
            {{ zapis.govorec|default_if_none:""|title }}
        {% endif %}
        </div>
        <blockquote class="speaker-quote"> {% comment %}TODO: Dodaj cite atribut{% endcomment %}
        {% endifchanged %}

        <div id="p{{ zapis.seq }}">
            <div class="quote-link" >
                <a href="{% url magnetogrami_citat mdt=seja.delovno_telo mandat=seja.mandat slug=seja.slug datum_zasedanja=zapis.zasedanje.datum odstavek=zapis.seq %}">#</a>
            </div>
            {{ zapis.odstavki|linebreaksbr }}
        </div>
    {% if forloop.last %}
        </blockquote>
    </section>{% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}
