{% extends "base.html" %}

{% block content %}
<div class="content">
	<h1>Seje</h1>
{% for dt in object_list %}{% ifchanged dt.mandat %}{% if not forloop.first %}
	</ul>
{% endif %}
	<hgroup>
		<h2>{{ dt.mandat }}. mandat</h2>
		<h3>Delovna telesa</h3>
	</hgroup>
	<ul>
		<li>
			<a href="{% url delajozate.magnetogrami.views.seja_list dt.mandat 'dz' %}">Državni zbor</a>
		</li>
	{% endifchanged %}
		<li>{% spaceless %}
			{% if dt.dz_id %}<a href="{% url delajozate.magnetogrami.views.seja_list dt.mandat dt.dz_id %}">{% endif %}
			{{ dt.ime }}{% if dt.dz_id %}</a>{% endif %}
		{% endspaceless %}</li>{% if forloop.last %}
	</ul>
{% endif %}{% endfor %}
</div>
{% endblock %}
