{% extends "base.html" %}
{% load highlight %}

{% block content %}
<div class="content">
    <h2>Iskanje</h2>

    <form method="get" action="." role="search">
        <fieldset>
            <p>
                {{ form.q.errors }}
                <label class="q" for="id_q">Iskanje:</label> <input type="search" size="80" name="q" value="{{ form.q.value|default_if_none:"" }}" id="id_q" />
            </p>
            <div>
                {{ form.models.errors }}
                <span>Išči po:</span><br />
                {{ form.models }}
            </div>
            <p>
                <input type="submit" value="Išči" class="btn" />
            </p>
        </fieldset>
        
        {% if query %}
            <h3>Rezultati</h3>

                {% for result in page.object_list %}
            <blockquote>
                {% highlight result.text with query max_length 400 css_class "highlight" %}
            </blockquote>
            {% if result.govorec_t %}
                <a href="/osebe/{{ result.govorec_slug_t }}/" rel="author">{{ result.govorec_t }}</a>
            {% else %}
                ?
            {% endif %}
            , <a href="{{ result.permalink_t }}#p{{ result.seq_i }}">{{ result.ime_seje_t }}</a>, {{ result.pub_date_dt|date:"DATE_FORMAT" }}
            {% empty %}
                <p>Za to iskanje ni rezultatov.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Prejšnja stran{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Naslednja stran &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
</div>
{% endblock %}
