.site {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
.site > section {
    clear: both;
    overflow: hidden;
}

header {
    position: relative;
    width: 100%;
    padding: 40px 0 20px;
}

section.body { /* 0 10px 20px */
    padding: 0 2.08333333% 1.25em;
}
section.body .full {
    margin: 0 -2.17391304%;
}
