<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form action="{% url gplus_submit %}" method="POST">
{% csrf_token %}
{% for oseba, osebe_plus in osebe.items %}
	<table>
	<tr>
	    <td>
            <b>{{ oseba.ime }} {{ oseba.priimek }}</b> <br />
			<img src="{{ oseba.slika_or_default }}" >
		</td>
	    <td>
            {% for oseba_plus in osebe_plus %}
				<div>
				    <input type="radio" name="{{ oseba.id }}" value="{{ oseba_plus.plus_id }}">
                    <img src="{{ oseba_plus.plus_img }}?sz=130" > {{ oseba_plus.plus_name }}
				</div>
            {% endfor %}
		        <div>
					<input type="radio" name="{{ oseba.id }}" value="0" checked> None
		        </div>
			<br>
		</td>
	</tr>
	</table>
	<br/><hr><br/>
{% endfor %}
<input type="submit" value="Poslji">
</form>
</body>
</html>