{% extends "base.html" %}
{% load dz_extras %}

{% block head %}{% endblock %}

{% block content %}
		<div class="content">
			<section class="two-cols-first">
			{% for z in zasedanja %}
				{% if forloop.first %}
				<h2>Zadnja zasedanja sej</h2>
				<ul>
				{% endif %}
				
				{% ifchanged z.datum %}
				</ul>
                <h4>{{ z.datum }}</h4>
				<ul>
				{% endifchanged %}
				
				<li><a href="{{ z.get_absolute_url }}">{{ z.seja.naslov }}</a></li>
				
				{% if forloop.last %}
				</ul>
				{% endif %}
			{% endfor %}
			</section>
			<section class="two-cols-second">
			{% for g in glasovanja %}
				{% if forloop.first %}
				<h2>Zadnja glasovanja</h2>
				<ul>
				{% endif %}

				{% ifchanged g.datum %}
				</ul>
				<h4>{{ g.datum }}</h4>
				<ul>
				{% endifchanged %}

				<li><a href="{{ g.absolute_url }}">{{ g }}</a></li>
				{% if forloop.last %}
				</ul>
				{% endif %}
				
			{% endfor %}
			</section>
		</div>

{% endblock %}
