{% extends "base.html" %}
{% load dz_extras %}

{% block content %}
<nav class="full">
	<span>Mandati DZ:</span>
	<ol>{% for m in mandati %}
		<li><a href="/poslanci/{{ m.st }}-mandat/">{{ m.st }}. ({{ m.od|date:"Y" }}-{{ m.do|date:"Y" }})</a></li>{% endfor %}
		<li><a href="/poslanci/danes/">danes</a></li>
	</ol>
</nav>
<div class="content">
	<ol class="poslanci full">{% for funkcija in poslanci %}{% with funkcija.oseba as oseba %}{% ifchanged oseba.pk %}{% with oseba.clanstvo|datum_filter:mandat as clanstvo %}
		<li data-oseba-id="{{ oseba.id }}">
			{% include "components/card.html" %}
			<!--
			<div class="details">
				<h1>
					<a href="/osebe/{{ oseba.slug }}/">
						<span class="fn">
							<span class="given-name">{{ oseba.ime }}</span>
							<span class="family-name">{{ oseba.priimek }}</span>
						</span>
					</a>
				</h1>
				<ul>
				{% for f in oseba.funkcije|datum_filter:mandat %}
					<li class="role">{{ f.get_tip_display }} {{ f.organizacija.value.display }} ({{ f.trajanje }})</li>
				{% endfor %}
				</ul>
			</div>
			-->
		</li>{% endwith %}{% endifchanged %}{% endwith %}{% endfor %}
	</ol>
{% include "components/pagination.html" %}
</div>{% endblock %}
