{% extends "base.html" %}
{% load dz_extras %}

{% block content %}
<div class="content">
	<div class="poslanci vcard">{% with oseba.clanstvo|datum_filter:"today" as clanstvo %}
		<aside>
		{% with hide_card_details=yes %}
		{% include "components/card.html" %}
		{% endwith %}
		</aside>
		<div class="details">
			<h1>
				<span class="fn">
					<span class="given-name">{{ oseba.ime }}</span>
					<span class="family-name">{{ oseba.priimek }}</span>
				</span>
			</h1>
			<ul>
			{% for f in oseba.funkcije|datum_filter:"today" %}
				<li class="role">{{ f.get_tip_display }} {{ f.organizacija.value.display }} ({{ f.trajanje }})</li>
			{% endfor %}
			</ul>
			<span class="org">{{ clanstvo.0.stranka|default_if_none:"Nepovezan poslanec" }}</span>
			<p>
				Twitter:
				{% if oseba.twitter %}
				<a href="https://twitter.com/{{ oseba.twitter }}">@{{ oseba.twitter }}</a>
				(<a href="{% url poslanec_twitter oseba.slug %}">seznam tweetov</a>)
				{% else %}
				neznan
				{% endif %}
			</p>
		</div>
		{% endwith %}
	</div>
	
	<div class="votes">
		{% if votes %}
		<h2>
			Zadnjih {{ votes|length }} glasovanj
		</h2>
{% include "casovnica_item.html" %}
		<p>
			<a href="{% url poslanec_glasovanja oseba.slug %}">Seznam vseh glasovanj</a>
		</p>
		{% endif %}
	</div>
</div>
{% endblock %}
