{% extends "base.html" %}
{% load dz_extras %}

{% block title %}Poslanci{% if mandat_obj %} v {{ mandat_obj.st }}. mandatu {% else %} danes {% endif %}- Delajo zate!{% endblock %}


{% block content %}
<nav class="full">
	<span>Mandati DZ:</span>
	<ol>{% for m in mandati %}
		<li><a href="/poslanci/{{ m.st }}-mandat/">{{ m.st }}. ({{ m.od|date:"Y" }}-{{ m.do|date:"Y" }})</a></li>{% endfor %}
		<li><a href="/poslanci/danes/">danes</a></li>
	</ol>
</nav>
<div class="content">
	<ol class="poslanci full">{% for funkcija in poslanci %}{% with funkcija.oseba as oseba %}{% ifchanged oseba.pk %}{% with oseba.clanstvo|datum_filter:mandat as clanstvo %}
		<li data-oseba-id="{{ oseba.id }}">
			{% include "components/card.html" %}
		</li>{% endwith %}{% endifchanged %}{% endwith %}{% endfor %}
	</ol>
{% include "components/pagination.html" %}
</div>{% endblock %}
