{% extends "base.html" %}
{% load dz_extras %}

{% block content %}
<nav class="full">
	<ol>{% for m in mandati %}
		<li><a href="/poslanci/{{ m.st }}-mandat/">{{ m.st }}. mandat DZ</a></li>{% endfor %}
		<li><a href="/poslanci/danes/">Danes</a></li>
	</ol>
</nav>
<div class="content">
	<ol class="poslanci full">{% for funkcija in poslanci %}{% with funkcija.oseba as oseba %}{% ifchanged oseba.pk %}{% with oseba.clanstvo|datum_filter:mandat as clanstvo %}
		<li data-oseba-id="{{ oseba.id }}">
			<div class="card">
				{% if clanstvo %}{% with clanstvo.0.organizacija.stranka as stranka %}
				<div class="stranka"><a class="strankatag {{ stranka.okrajsava|lower }}"
					href="#"
					title="{{ stranka.ime }}">{{ stranka.okrajsava }}
				</a></div>{% endwith %}{% endif %}
				<a href="/osebe/{{ oseba.slug }}/">
					<div class="img">
						<img class="image" src="{{ oseba.slika_or_default }}" alt="" title="{{ oseba }}, vir:{{ oseba.slika_vir }}" />
					</div>
				</a>
				<dl>
					<dt>Poslanskih dni</dt>
					<dd>{{ oseba.poslanskih_dni|default_if_none:"0" }}</dd>
					<dt>Mandatov</dt>
					<dd>{{ oseba.st_mandatov }}</dd>
					<!--dt>Strank</dt>
					<dd>{{ oseba.clanstvo|length }}</dd-->
					<!--dt>Delovna telesa</dt>
					<dd>{{ oseba.delovna_telesa|length }}</dd-->
				</dl>
			</div>
			<div class="details">
				<h1>
					<a href="/osebe/{{ oseba.slug }}/">
						<span class="fn">
							<span class="given-name">{{ oseba.ime }}</span>
							<span class="family-name">{{ oseba.priimek }}</span>
						</span>
					</a>
				</h1>
				<ul>
				{% for f in oseba.funkcije|datum_filter:mandat %}
					<li class="role">{{ f.get_tip_display }} {{ f.organizacija.value.display }} ({{ f.trajanje }})</li>
				{% endfor %}
				</ul>
			</div>
		</li>{% endwith %}{% endifchanged %}{% endwith %}{% endfor %}
	</ol>
</div>{% endblock %}
