{% load dz_extras %}
					<li>
						<div class="card">
							<h2> {{ poslanec.oseba }}</h2>{% if poslanec.stranka %}{% with poslanec.stranka as stranka %}
							<div class="stranka"><a class="strankatag {{ stranka.okrajsava|lower }}"
								href="/stranke/{{ stranka.id }}/"
								title="{{ stranka.ime }}">{{ stranka.okrajsava }}
							</a></div>{% endwith %}{% endif %}
							<div class="img">
								<img src="{{ poslanec.oseba.slika_or_default }}" alt="" title="{{ poslanec.oseba }}, vir:{{ poslanec.oseba.slika_vir }}" />
							</div>
							<dl>
								<dt>Obdobje</dt>
								<dd>{{ poslanec.poslanskih_dni }} dni</dd>
								<dt>Mandatov</dt>
								<dd>{{ poslanec.mandati|length }}</dd>
								<!--dt>Strank</dt>
								<dd>{{ poslanec.stranke|length }}</dd-->
							</dl>{% if not short %}
							<ol class="badges">
								<li class="odbori"><span>{{ poslanec.odbori|default_if_none:"?" }}</span> odbor{{ poslanec.odbori|slopluralize:",a,i,ov" }}</li>
								<li class="komisije"><span>?</span> komisij{{ poslanec.komisije|slopluralize:"a,i,e," }}</li>
								<li class="delegacije"><span>?</span> deleg.</li>
								<li class="skupine"><span>?</span> skupin{{ poslanec.skupine|slopluralize:"a,i,e," }}</li>
							</ol>{% endif %}
						</div>
					</li>
