{% extends "base.html" %}

{% block head %}

<style>

.red { background-color: #fdd; }

</style>

{% endblock %}


{% block content %}
{% with glasovanje=objects.0.glasovanje %}


<h1>{{ glasovanje }}</h1>

<p>
    Datum: {{ glasovanje.datum }}<br />
    Ura: {{ glasovanje.ura }}
</p>

<p>
    <a href="{{ glasovanje.url }}">Ogled glasovanja na strani Državnega zbora</a>
</p>
<table>
<tr>
<th>Poslanec</th><th>Kvorum</th><th>Glas</th>
</tr>
{% for glas in objects %}
<tr{% if not glas.kvorum and glas.glasoval != "Ni"%} class="red"{% endif %}>
<td>{{ glas.oseba }}</td>
<td>{% if glas.kvorum %}Da{% else %}Ne{% endif %}</td>
<td>{{ glas.glasoval }}</td>
</tr>
{% endfor %}
</table>

{% endwith %}
{% endblock %}