{% extends "base.html" %}{% load dz_extras %}

{% block head %}

<style>

.red { background-color: #fdd; }

</style>

{% endblock %}


{% block content %}
{% with glasovanje=objects.0.glasovanje %}


<h1>{{ glasovanje }}</h1>

<p>
    Datum: {{ glasovanje.datum }}<br />
    Ura: {{ glasovanje.ura }}
</p>

<p>
	<h2>Povzetek</h2>
	{% with data=glasovanje.summary %}
	<table>
		<tr>
			<th>Stranka</th>
			<th>Večina ({{ data.majority }})</th>
			<th>Manjšina ({{ data.minority }})</th>
			<th>Prisotnost</th>
		</tr>
		{% for row in data.votes.items %}
		<tr>
			<th>{{ row.0 }}</th>
			{% with cell=row.1 %}
				<th>{{ cell.majority }}</th>
				<th>{{ cell.minority }}</th>
				<th>{{ cell.percent|stringformat:".1f" }} %</th>
			{% endwith %}
		{% endfor %}
	</tr>
	</table>
	{% endwith %}

</p>

<p>
    <a href="{{ glasovanje.url }}">Ogled glasovanja na strani Državnega zbora</a>
</p>
<table>
<tr>
<th>Poslanec</th><th>Kvorum</th><th>Glas</th>
</tr>
{% for glas in objects %}
<tr{% if not glas.kvorum and glas.glasoval != "Ni"%} class="red"{% endif %}>
{% if glas.oseba %}
    <td class="" data="{{ clanstvo.0.stranka.okrajsava }}">{{ glas.oseba }}
    {% with clanstvo=glasovanje.stranke|get_item:glas.oseba.pk %}
    ({{ clanstvo.stranka.okrajsava }})
    {% endwith %}
    </td>
{% else %}
<td>{{ glas.poslanec|title }}</td>
{% endif %}
<td>{% if glas.kvorum %}Da{% else %}Ne{% endif %}</td>
<td>{{ glas.glasoval }}</td>
</tr>
{% endfor %}
</table>

{% endwith %}

<script type="text/javascript">
var glasovanje_data = {{ json|escape }};
</script>
{% endblock %}