html, body {background:#fff;margin:0;padding:0;}
body {font-size:100%;line-height:1.25em;}

.site {width:960px;margin:1em auto 3em;border:1px dashed #000;color:#333;}

header, footer {display:block;clear:both;}

header {background:#eee;overflow:hidden;}
header 

nav {background:#000;color:#fff;line-height:1.875em;padding:0 .5em;}
nav a {color:#fff;text-decoration:none;}
nav ol {list-style:none;margin:0;padding:0;}
nav ol li {display:inline-block;margin:0;padding:0;}
nav ol li a {padding:.625em;}