html, body {background:#fff;margin:0;padding:0;}
body {font-size:100%;line-height:1.25em;font-family:"PT Sans", sans-serif;}

.site {width:960px;margin:1em auto 3em;border:1px dashed #000;color:#333;}

header, footer {display:block;clear:both;}
ol, ul, li {list-style:none;margin:0;padding:0;}

header {background:#eee;overflow:hidden;}
header h1 {font-family:Arvo, sans-serif;}

nav {background:#000;color:#fff;line-height:1.875em;padding:0 .5em;overflow:hidden;}
nav a {color:#fff;text-decoration:none;}
nav ol {list-style:none;margin:0;padding:0;}
nav ol li {float:left;margin:0;padding:0;}
nav ol li a {padding:.625em;display:block;}

.random {margin:.625em 0 2.5em;}

.cards > li {width:25%;float:left;box-sizing:border-box;padding:0 1em 1em;}

/* card */
.card {background:#fff;padding:10px;position:relative;border:1px solid rgba(0,0,0,.1);
	border-radius:10px;box-shadow:0 2px 4px rgba(0,0,0,.3);
}
.card h2 {position:absolute;color:#fff;background:rgba(0,0,0,.5);left:0;top:0;margin:11px 11px 0;font-size:1.5em;line-height:1.25em;padding:.125em .25em;}
.card .stranka {width:30px;height:30px;line-height:30px;text-align:center;border:1px solid rgba(0,0,0,.05);position:absolute;right:-7px;top:-7px;font-size:.625em;text-transform:uppercase;
	border-radius:20px;
}
.card .stranka a {color:#000;text-decoration:none;display:block;width:100%;height:100%;
	border-radius:20px;
}
.card .stranka .sns {background:yellow;}
.card .stranka .zares {background:orange;}
.card .stranka .sd {background:red;color:#fff;}
/* img */
.card .img {border:1px solid #999;height:245px;overflow:hidden;}
.card .img img {max-width:100%;width:100%;display:block;}
/* stats */
.card dt {float:left;}
.card dd {border-bottom:1px dotted #666;padding:0;margin:0;text-align:right;}
/* badges */
.card .badges {border-left:1px solid #999;overflow:hidden;margin:0 0 .625em;}
.card .badges li {border-right:1px solid #999;float:left;font-size:.625em;width:25%;padding:0 .3em;
	box-sizing:border-box;
}
.card .badges li span {font-size:2em;display:block;}
