{% extends "base.html" %}

{% block content %}
<div class="content">
    <h2>Iskanje</h2>

    <form method="get" action="." role="search">
        <fieldset>
            <p>
                {{ form.q.errors }}
                <label class="q" for="id_q">Iskanje:</label> <input type="search" size="80" name="q" value="{{ form.q.value|default_if_none:"" }}" id="id_q" />
            </p>
            <p>
                <input type="submit" value="Išči" class="btn" />
            </p>
        </fieldset>

        {% if results %}
            <h3>Rezultati</h3>
            {% if osebe %}
                <h4>Osebe</h4>
                <p>
                    {% for oseba in osebe %}
                            <a href="/osebe/{{ oseba.slug }}" rel="author">{{ oseba.ime }}</a> <br/>
                    {% endfor %}
                </p>
            {% endif %}

            {% if stranke %}
                <h4>Stranke</h4>
                <p>
                    {% for stranka in stranke %}
                         {{ stranka.ime }} ({{ stranka.okrajsava }})
                         {% if stranka.od %}
                             , {{ stranka.od|date:"DATE_FORMAT" }} -
                         {% endif %}
                         {% if stranka.do %}
                             {{ stranka.do|date:"DATE_FORMAT" }}
                         {% endif %}
                        <br />
                    {% endfor %}
                </p>
            {% endif %}

            {% if zapisi %}
                <h4>Zapisi</h4>
                {% for zapis in zapisi %}
                    {% if zapis.vsebina %}
                        {% for citat in zapis.vsebina %}
                        <blockquote>
                            {{ citat|safe }}
                        </blockquote>
                        {% endfor %}
                    {% endif %}
                    {% if zapis.ime_govorca %}
                        <a href="/osebe/{{ zapis.govorec_slug }}" rel="author">{{ zapis.ime_govorca }}</a>
                    {% else %}
                        ?
                    {% endif %}
                    , <a href="{{ zapis.permalink }}#p{{ zapis.seq }}">{{ zapis.ime_seje }}</a>, {{ zapis.datum|date:"DATE_FORMAT" }}<br />
                {% endfor %}
            {% endif %}

            {% if prev_page or next_page %}
                <div>
                    {% if prev_page %}<a href="?q={{ query }}&amp;page={{ prev_page }}">{% endif %}&laquo; Prejšnja stran{% if prev_page %}</a>{% endif %}
                    |
                    {% if next_page %}<a href="?q={{ query }}&amp;page={{ next_page }}">{% endif %}Naslednja stran &raquo;{% if next_page %}</a>{% endif %}
                </div>
            {% endif %}

        {% endif %}

    </form>
</div>
{% endblock %}
