.site {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

.site > section {
  clear: both;
  overflow: hidden;
}

header {
  position: relative;
  width: 100%;
  padding: 40px 0 20px;
}

section.body {
  /* 0 10px 20px */
  padding: 0 0 1.25em;
  /* 0 width sides so subnav looks ok */
}

section.body > .content {
  margin: 1.25em 10px 2.5em;
}

section.body aside {
  float: right;
}

.two-cols-first,
.two-cols-second {
  float: left;
  width: 48%;
}

.two-cols-first {
  margin: 0 1.9% 0 0;
}

.two-cols-second {
  margin: 0 0 0 1.9%;
}

@media only screen and (max-width: 450px) {
  .two-cols-first,
  .two-cols-second {
    float: none;
    width: 100%;
    margin: 0;
  }
}
.vcard aside {
  /* Make space for card's badge */
  padding-right: 10px;
}

.poslanci.vcard {
  overflow: hidden;
}

.poslanci {
  padding: .625em 0;
  overflow: hidden;
  clear: both;
}

ol.poslanci {
  padding: 0;
}

.poslanci > li {
  /* 10px */
  list-style: none;
  display: inline-block;
  width: 30%;
  padding: .625em 3% .625em 0;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 360px) {
  .poslanci > li {
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 500px) {
  section.body aside,
  section.body aside > .card {
    float: none;
  }
}
@media screen and (min-width: 361px) and (max-width: 500px) {
  .poslanci > li {
    width: 45%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 501px) and (max-width: 750px) {
  .poslanci > li {
    width: 30%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 751px) {
  .poslanci > li {
    width: 19%;
    padding-right: 5%;
  }
}
