{% extends "base.html" %}

{% block head %}
<style type="text/css">

.govorec { padding: 5px; font-size: 1.1em; font-weight: 500; width: 27%; float: left; clear: left;}
.receno { width: 60%; float: left; margin-bottom: 10px; text-align: justify;}
.govorec-slika { width: 100px; }
.zapis-link { float: right; position: relative; right: -30px; }
.zapis-link a { text-decoration: none; }
.zapis-link :hover { text-decoration: underline; }
h1, h2, h3 { padding: 5px; }
.zasedanja-list { padding-left: 20px; }

</style>
{% endblock %}


{% block content %}

{% for seja in object_list %}
<h2>{{ seja.naslov }}</h2>

<h3>Zasedanja</h3>
<div class="zasedanja-list">
<ul>
{% for z in seja.zasedanje_set.all %}
    <li><a href="{% url delajozate.magnetogrami.views.seja "dz" seja.mandat seja.slug z.datum %}">{{ z.datum }}</a></li>
{% endfor %}
</ul>
</div>

{% endfor %}


{% endblock %}